<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tsinghua.kgeducator.mapper.UserMapper">
    <resultMap id="User" type="com.tsinghua.kgeducator.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="INTEGER" />
        <result column="subject" property="subject" jdbcType="INTEGER" />
        <result column="collection" property="collection" jdbcType="VARCHAR" />
        <result column="history" property="history" jdbcType="VARCHAR" />
        <result column="search" property="search" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllUsers" resultMap="User">
        SELECT * FROM USER
    </select>

    <select id="getUserById" resultMap="User">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

    <select id="getUserByEmail" resultMap="User">
        SELECT * FROM USER WHERE EMAIL = #{email}
    </select>

    <select id="addUser" resultType="Integer" >
        INSERT INTO USER VALUES(NULL, #{email}, #{password}, #{name}, #{grade}, #{subject}, #{collection}, #{history}, #{search})
    </select>

    <select id="updateUserById" resultType="Integer">
        UPDATE USER SET EMAIL = #{email}, PASSWORD = #{password}, NAME = #{name}, GRADE = #{grade}, SUBJECT = #{subject}, COLLECTION = #{collection}, HISTORY = #{history}, SEARCH = #{search}  WHERE ID == #{id}
    </select>

    <select id="deleteUserById" resultType="Integer">
        DELETE FROM USER WHERE ID == #{id}
    </select>

    <select id="deleteAllUsers">
        DELETE FROM USER
    </select>
</mapper>
